.timeslide {
  background-color: #31d8a9;
}

.timeslide__guide {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.timeslide__info__header {
  margin-bottom: 40px;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.timeslide__info__continue {
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #31d8a9;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.timeslide__times {
  padding: 0 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Open Sans', sans-serif;
}

.timeslide__times__header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #7e9292;
}

.timeslide__times__list {
  text-align: center;
  font-size: 14px;
}

.timeslide__times__list li {
  display: inline;
}

.timeslide__times__list--highlight {
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
}
