.startslide {
  height: 100vh;
  background: #31d8a9;
}

.startslide__info {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.startslide__header {
  margin-bottom: 14px;
  font-size: 34px;
  color: white;
}

.startslide__subhead {
  margin-bottom: 40px;
  font-size: 18px;
  font-style: italic;
  color: white;
}

.startslide__button {
  padding: 10px 20px;
  border-radius: 6px;
  color: #31d8a9;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
